<odoo>
    <menuitem id="main_openacademy_menu" name="Open Academy"/>
    <menuitem id="openacademy_menu" name="Menú de Open Academy" parent="main_openacademy_menu"/>
    <menuitem id="cursos_menu" name="Cursos" parent="openacademy_menu" action="curso_list_action"/>
    <menuitem id="sesion_menu" name="Sesións" parent="openacademy_menu" action="sesion_list_action"/>
    <menuitem id="curso2_menu" name="Curso2" parent="openacademy_menu" action="curso2_list_action"/>
<!--    <menuitem id="xestor_menu" name="Xestor" parent="openacademy_menu" action="xestor_list_action"/>-->
</odoo>